<!-- Sidebar -->


<!-- <body> -->

<div *ngIf="authService.isLoggedIn()" 
class="w3-sidebar w3-bar-block w3-xxlarge w3-animate-left" 
style="width:200px; height:100%; background-color:#71e7bb;" id="mySidebar"
>

<!-- Dashboard -->
  <a ui-sref="dashboard" 
  [routerLink]="['/user/dashboard']" 
  class="w3-bar-item w3-button w3-hover-white" 
  style="height: 80px;border-bottom: 1px solid white;"
  [routerLinkActive]="['active']"
  [routerLinkActiveOptions] ="{exact:true}"

  >
  <img style="max-height: 40px; padding-left:5px;" src="..\..\assets\M.png">
  <p style="padding-left:8px; display:inline; font-family:Cousine; font-size:20px;">Dashboard</p></a> 
  <!-- End Dashboard -->

  <!-- Friends -->
  <a ui-sref="friends" 
  [routerLink]="['/user/friends']" 
  class="w3-bar-item w3-button w3-hover-white" 
  style="height: 80px; border-bottom: 1px solid white;"
  [routerLinkActive]="['active']"
  [routerLinkActiveOptions] ="{exact:true}"

  >
  <img style="max-height: 40px;" src="..\..\assets\friends.png">
  <p style="padding-left:8px; display:inline; font-family:Cousine; font-size:20px;">Friends</p></a> 
  <!-- End Friends -->

  <!-- Transactions -->
  <a ui-sref="transactions" 
  [routerLink]="['/user/transactions']" 
  class="w3-bar-item w3-button w3-hover-white" 
  style="height: 80px; border-bottom: 1px solid white;"
  [routerLinkActive]="['active']"
  [routerLinkActiveOptions] ="{exact:true}"
  
  >
  <img style="max-height: 40px;" src="..\..\assets\transactions.png">
  <p style="padding-left:8px; display:inline; font-family:Cousine; font-size:20px;">Transactions</p></a> 
  <!-- End Transactions -->

  <!-- Receipts -->
  <a ui-sref="receipts" 
  [routerLink]="['/user/receipts']" 
  class="w3-bar-item w3-button w3-hover-white" 
  style="height: 80px; border-bottom: 1px solid white;"
  [routerLinkActive]="['active']"
  [routerLinkActiveOptions] ="{exact:true}"
  
  >
  <img style="max-height: 40px;" src="..\..\assets\receipts.png">
  <p style="padding-left:8px; display:inline; font-family:Cousine; font-size:20px;">Receipts</p></a>
  <!-- End Receipts -->

  <!-- Settings -->
  <a ui-sref="settings" 
  [routerLink]="['/user/setting']" 
  class="w3-bar-item w3-button w3-hover-white" 
  style="height: 80px; border-bottom: 1px solid white;"
  [routerLinkActive]="['active']"
  [routerLinkActiveOptions] ="{exact:true}"
  
  >
  <img style="max-height: 40px;" src="..\..\assets\settings.png">
  <p style="padding-left:8px; display:inline; font-family:Cousine; font-size:20px;">Settings</p></a> 
  <!-- End Settings -->

  <!-- Download -->
  <a ui-sref="download" 
  [routerLink]="['/user/download']" 
  class="w3-bar-item w3-button w3-hover-white" 
  style="height: 80px; position:absolute; bottom:61px; border-top: 1px solid white; border-bottom: 1px solid white;"
  [routerLinkActive]="['active']"
  [routerLinkActiveOptions] ="{exact:true}"
  
  >
  <!-- style="height: 80px; margin-top:26.94vh; border-bottom: 1px solid white;" -->
  
  <img style="max-height: 40px;" src="..\..\assets\download.png">
  <p style="padding-left:8px; display:inline; font-family:Cousine; font-size:20px;">Download</p></a> 
  <!-- End Download -->

</div>


<!-- </body> -->

<!-- End sidebar -->
