<!-- Sidebar -->


<!-- <body> -->

<div *ngIf="authService.isLoggedIn()"
class="w3-sidebar w3-bar-block w3-xxlarge w3-animate-left"
style="width:12%; height:100%; min-width:70px;" id="sidebar">

<!-- Dashboard -->
  <a ui-sref="dashboard"
  [routerLink]="['/user/dashboard']"
  class="w3-bar-item w3-button w3-hover-white"
  [routerLinkActive]="['active']"
  [routerLinkActiveOptions] ="{exact:true}"

  >
  <img style="max-height: 40px; padding-left:5px;" src="..\..\assets\M.png">
  <p id="sidebar_text">Dashboard</p></a>
  <!-- End Dashboard -->

  <!-- Roommates -->
  <a ui-sref="friends"
  [routerLink]="['/user/friends']"
  class="w3-bar-item w3-button w3-hover-white"
  [routerLinkActive]="['active']"
  [routerLinkActiveOptions] ="{exact:true}"

  >
  <img style="max-height: 40px;" src="..\..\assets\friends.png">
  <p id="sidebar_text">Roommates</p></a>
  <!-- End Friends -->

  <!-- Transactions -->
  <a ui-sref="transactions"
  [routerLink]="['/user/transactions']"
  class="w3-bar-item w3-button w3-hover-white"
  [routerLinkActive]="['active']"
  [routerLinkActiveOptions] ="{exact:true}"

  >
  <img style="max-height: 40px;" src="..\..\assets\transactions.png">
  <p id="sidebar_text">Transactions</p></a>
  <!-- End Transactions -->

  <!-- Receipts -->
  <a ui-sref="receipts"
  [routerLink]="['/user/receipts']"
  class="w3-bar-item w3-button w3-hover-white"
  [routerLinkActive]="['active']"
  [routerLinkActiveOptions] ="{exact:true}"

  >
  <img style="max-height: 40px;" src="..\..\assets\receipts.png">
  <p id="sidebar_text">Receipts</p></a>
  <!-- End Receipts -->

  <!-- Settings -->
  <a ui-sref="settings"
  [routerLink]="['/user/setting']"
  class="w3-bar-item w3-button w3-hover-white"
  [routerLinkActive]="['active']"
  [routerLinkActiveOptions] ="{exact:true}"

  >
  <img style="max-height: 40px;" src="..\..\assets\settings.png">
  <p id="sidebar_text">Settings</p></a>
  <!-- End Settings -->

  <!-- Goku Vs Jiren (Mastered Ultra Instinct) -->
  <!-- [routerLink]="['/user/download']" -->
  <!-- Download -->
  <a ui-sref="download"
  [routerLink]="['/user/download']"
  class="w3-bar-item w3-button w3-hover-white"
  [routerLinkActive]="['active']"
  [routerLinkActiveOptions] ="{exact:true}"

  >
  <!-- style="height: 80px; margin-top:26.94vh; border-bottom: 1px solid white;" -->

  <img style="max-height: 40px;" src="..\..\assets\download.png">
  <p id="sidebar_text">Download</p></a>
  <!-- End Download -->

</div>


<!-- </body> -->

<!-- End sidebar -->
