<div class="container-fluid" id="content">
  <button class="btn btn-success" (click)="clickForData()">Click for Data</button>
</div>

<div class="container-fluid" id="content">
  <h2>Recent Transactions</h2>
  
</div>

<!-- 
<div class="container-fluid" id="content">

  <h2>Recent Activities</h2>
  <div *ngFor="let recent of hack(recentActivities)">
          
          <div class="card" id="card" style="border-color:#E4C1E2;" *ngIf="recent.group_name">
            <div class="card-header" id="transaction-card">
              New Transaction
            </div>
            <div class="card-body">
              <h5 class="card-title">{{recent.transaction_type}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{recent.bill_date}}</h6>
              <p class="card-text">Split with: {{recent.friend_names}}</p>
            </div>
          </div>

        <div class="card" id="card" *ngIf="recent.firstName">
          <div class="card-header" id="roommate-card">
            New Roommate
          </div>
          <div class="card-body">
            <h5 class="card-title">{{recent.firstName}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{recent.date}}</h6>
          </div>
        </div>
  
        <div class="card" id="card" *ngIf="recent.name">
          <div class="card-header" id="receipt-card">
            New Receipt
          </div>
          <div id="card-img">
            <img class="card-img-top" src="{{recent.link}}" alt="Receipt">
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">{{recent.bill_date}}</h6>
          </div>
        </div>

  </div>
</div> -->
