<div class="row" id="row">
    <div class="col" id="col">
        <img src="../../assets/rumi logo.png" width="400" href="/" class="align-self-center">
    </div>
  
    <div class="col align-self-center" id="col">
      <!-- {{ tagline }} -->
      <p>
      <p>
        <a ui-sref="register" [routerLink]="['/register']" class="btn" id="button_main_color">Get Started!</a>
        <a ui-sref="download" href="https://www.youtube.com/watch?v=_xjp2wkgAJQ" class="btn" id="button_main_color">Download</a>
      </p>
      <p>
      <p>Already have an account?  <a ui-sref="login" [routerLink]="['/login']" >Login here</a>.
    </div>
</div>
  