
<div class="row" id="user_form" *ngIf="!authService.isLoggedIn()">
  <div class="col align-self-center">
    <h2 class="page-header">Login</h2>

    <!-- Start form -->
    <form class="form-signin">

      <!-- Username -->
      <div class="form-group row">
        <label for="Username" class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" placeholder="*michaelscott" [(ngModel)]="username" name="username">
        </div>
      </div>

      <!-- Password -->
      <div class="form-group row">
        <label for="Password" class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" placeholder="******" [(ngModel)]="password" name="password">
        </div>
      </div>

      <!-- Buttons -->
      <button class="btn btn-success" (click)="onLoginSubmit()">Login</button>&nbsp;
      <button class="btn btn-danger" (click)="onCancelSubmit()">Cancel</button><br><br>

      <!-- Navigate back to register page -->
      <p>Don't have an account yet? <a [routerLink] = "['/register']">Register Here</a></p> 
    </form>

  </div>
</div>
      