
<div class="container-fluid" id="content">
  <h2>Transactions</h2>

  <!-- Header -->
  <div class="card" id="transaction_card" *ngFor="let tran of hack(transactionsList); let friend of hack(testing); let i = index">
  <div class="card-header">
    <a href="{{tran.receipt_link}}" style="color: black"> {{tran.store_name}}: </a>
    {{tran.bill_code}}
  </div>

  <!-- Body -->
  <div class="card-body">

    <!-- Picture of the receipt -->
    <!-- <h5 class="card-title">{{tran.transaction_type}}</h5> -->
    <!-- <div class="float-left" id="transaction_image">
      <img src="{{tran.receipt_link}}" width="200px">
    </div> -->

    <!-- All users and their bill -->
    <div class="container" style="margin-bottom: 5%;">
                   
            <ul class="list-group" *ngFor="let element of hack(tran.transaction_list)">
                <header class="card-header" 
                style="background-color: rgb(0, 140, 255);  
                width: 100%; text-align: center;" 
                >
                This bill is for: {{element.name}}
                </header>
              <!-- <li class="list-group-item"><b>User: </b>: {{element.name}}</li> -->
              <li class="list-group-item"><b>Items bought </b>: {{element.items}}</li>
              <li class="list-group-item"><b>Original Prices </b>: {{element.og_prices}}</li>
              <li class="list-group-item"><b>Split Prices </b>: {{element.split_prices}}</li>
      
            </ul>
          
      
        </div>

    <!-- <div class="card-text float-center" >
      <div style="margin-left: 20px;" id="user_transaction" *ngFor="let subTran of tran.transaction_list">
        User: {{subTran.name}}
        <br>Items: {{subTran.items}}
        <br>Split prices: {{subTran.split_prices}}
      </div>
    </div> -->

  </div>

  <!-- Foooter  -->
  <div class="card-footer">
    {{bill_date[i]}}
  </div>
</div>

  <!-- <table class="table table-hover">
    <thead>
      <tr>
        <th><h6><strong>Number</strong></h6></th>
        <th><h6><strong>Receipt Name</strong></h6></th>
        <th><h6><strong>Receipt Link</strong></h6></th>
        <th><h6><strong>Company Name</strong></h6></th>
        <th><h6><strong>Type</strong></h6></th>
        <th><h6><strong>Items</strong></h6></th>
        <th><h6><strong>Prices</strong></h6></th>
        <th><h6><strong>Total</strong></h6></th>
        <th><h6><strong>Roommates</strong></h6></th>
        <th><h6><strong>Friend's IDs</strong></h6></th>
        <th><h6><strong>Numfriends</strong></h6></th>
        <th><h6><strong>Each Pay</strong></h6></th>
        <th><h6><strong>Date</strong></h6></th>

        <th><h6><strong>User_ID</strong></h6></th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tran of hack(transactionsList); let friend of hack(testing);  let i = index">
          <td>{{i+1}}</td>
          <td><a href="{{tran.receipt_link}}">{{tran.group_name}}</a></td>
          <td><a href="{{tran.receipt_link}}">{{tran.receipt_link}}</a></td>
          <td>{{tran.company_name}}</td>
          <td>{{tran.transaction_type}}</td>
          <td>{{tran.items}}</td>
          <td>${{tran.prices}}</td>
          <td>${{tran.total}}</td>
          <td>{{tran.friend_names}}</td>
          <td>{{tran.friends_ids}}</td>
          <td>{{tran.num_friends}}</td>
          <td>${{tran.each_pay}}</td>
          <td>{{tran.date}}</td>
          <td>{{tran.user_id}}</td>
      </tr>
    </tbody>
  </table> -->
</div>
