/* You can add global styles to this file, and also import other style files */


/* Alert CSS */
.alert{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px}
.alert h4{margin-top:0;color:inherit}
.alert .alert-link{font-weight:700}
.alert>p,.alert>ul{margin-bottom:0}
.alert>p+p{margin-top:5px}
.alert-dismissable,.alert-dismissible{padding-right:35px}
.alert-dismissable .close,.alert-dismissible .close{position:relative;top:-16px;right:-21px;color:inherit}
.alert-success{color:#ffffffd0;background-color:#51a351;border-color:#d6e9c6}
.alert-success hr{border-top-color:#c9e2b3}.alert-success .alert-link{color:#2b542c}
.alert-info{color:#ffffffd0;background-color:#2f96b4;border-color:#bce8f1}
.alert-info hr{border-top-color:#a6e1ec}.alert-info .alert-link{color:#245269}
.alert-warning{color:#ffffffd0;background-color:#f89406;border-color:#faebcc}
.alert-warning hr{border-top-color:#f7e1b5}
.alert-warning .alert-link{color:#66512c}
.alert-danger{color:#ffffffd0;background-color:#bd362f;border-color:#ebccd1}
.alert-danger hr{border-top-color:#e4b9c0}
.alert-danger .alert-link{color:#843534}


/* Other CSS */

* {
    box-sizing: border-box;
}

.sidenav {
    position: fixed;
    float: left;
    border: 2px solid white;
    background-color: #59b68e;
    width: 15%;
    height: 100%;
  }
  /* Style the buttons inside the tab */
  .sidenav a {
    display: block;
    background-color: inherit;
    color: black;
    padding: 32px 16px;
    width: 100%;
    border: black;
    outline: black;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    text-align: left;
    border-bottom: 2px solid white;
  }
  
  .main {
    margin-left: 15%; /* Same as the width of the sidenav */
    padding: 0px 15px;
  }
  
  .recentA {
    background-color: rgb(198, 223, 215);
  }
  
  .addfriend {
    width: 80%;
    background-color: rgb(198, 223, 215);
  }
  
  .right {
      position: absolute;
      right: 30px;
      width: 100px;
      background-color:  #59b68e;
      padding: 10px;
  }
  
  .right2 {
    position: absolute;
    right: 134px;
    width: 100px;
    background-color:  #59b68e;
    padding: 10px;
  }
  
  .center{
    text-align: center;
  }
  
  .widebutton {
    /* width: 120%; */
    margin-left: -15px;
    padding: 15px 499px;
  
    background-color: #59b68e;
  }
  .widebutton2 {
    /* width: 120%; */
    margin-left: -15px;
    padding: 15px 371px;
  
    background-color: #59b68e;
  }
  
  div{
    resize: both;
  }
  
  a {
    color: #59b68e;
  }
  
  a:hover {
    color: #000;
  }
  
  #navbar {
    background-color: #59b68e;
  }
  
  #col {
    padding:10px;
  }
  
  #row {
    width:80%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  #button_main_color {
    color: #fff;
    background-color: #59b68e;
  }
  
  #user_form {
    width:35%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  