
<!-- Nav bar -->
<!-- <div style="position:sticky;top:0;" > -->
<app-navbar></app-navbar>
<!-- </div> -->
<!-- Sidebar -->
<app-sidebar></app-sidebar>
<div id="menuContent">
    <!-- <div class="w3-container"> -->
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <!-- </div> -->
  <!-- <router-outlet></router-outlet> -->
</div>

<!-- <div *ngIf="!authService.isLoggedIn()">
    <router-outlet></router-outlet>
</div> -->

<!-- Other routes -->
<!-- <router-outlet></router-outlet> -->

  
