  <div class="container-fluid" id="content">
    <h2>Roommates</h2>
    <div class="row">
      <!-- Add Roommate -->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Add New Roommate
          </div>
          <div class="card-body">
            <form>
              <div class="form-group row">
                <label for="inputFirstName" class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                  <input placeholder="First Name" type="text" name="firstName" [(ngModel)] = "firstName" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputLastName" class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                  <input placeholder="Last Name" type="text" name="lastName" [(ngModel)] = "lastName" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputLastName" class="col-sm-4 col-form-label">Preferred Name</label>
                <div class="col-sm-8">
                  <input placeholder="Preferred Name" type="text" name="preferredName" [(ngModel)] = "preferredName" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputLastName" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                  <input placeholder="Address" type="text" name="address" [(ngModel)] = "address" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputLastName" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input placeholder="Email" type="text" name="email" [(ngModel)] = "email" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputLastName" class="col-sm-4 col-form-label">Home Phone</label>
                <div class="col-sm-8">
                  <input placeholder="Home Phone" type="text" name="homePhone" [(ngModel)] = "homePhone" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputLastName" class="col-sm-4 col-form-label">Cell Phone</label>
                <div class="col-sm-8">
                  <input placeholder="Cell Phone" type="text" name="cellPhone" [(ngModel)] = "cellPhone" class="form-control">
                </div>
              </div>

              <button class="btn btn-success" (click)="onSubmitButton()">Add</button>
              <button class="btn btn-danger" (click)="clear()">Clear</button>
            </form>
          </div>
          <!-- End Add Roommate -->

          <!-- Search Roommate -->
          <div class="card-header">
            Search Roommate
          </div>
          <div class="card-body">
            <!--- Search Form -->
            <form>
              <div class="form-group row">
                <div class="col-sm-12">
                  <input placeholder="Search Name" type="text" name="inputString" [(ngModel)] = "inputString" class="form-control">
                </div>

                <!-- <div class="col-sm-5">
                  <button class="btn btn-success" (click)="search_contact()">Search</button>
                  <button class="btn btn-danger" (click)="clearSearch()">Clear</button>
                </div> -->
              </div>
            </form>
            <!--- End Search Form -->
          </div>
        </div>
      </div>

      <!--- Roommates List -->
      <div class="col-sm-6">
        <div class="list-group" *ngFor="let contact of hack(contactlist) | filter:inputString; let i = index">
          <div class="list-group-item list-group-item-action flex-column align-items-start" id="roommate-list-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 id="roommate-list-header">{{contact.firstName}} {{contact.lastName}}</h5>
              <small class="text-muted">Added {{contact.date}}</small>
            </div>

            <div class="row">
              <div class="col">
                Preferred Name:
              </div>
              <div class="col">
                {{contact.preferredName}}
              </div>
            </div>

            <div class="row">
              <div class="col">
                Address:
              </div>
              <div class="col">
                {{contact.address}}
              </div>
            </div>

            <div class="row">
              <div class="col">
                Email:
              </div>
              <div class="col">
                {{contact.email}}
              </div>
            </div>

            <div class="row">
              <div class="col">
                Home Phone:
              </div>
              <div class="col">
                {{contact.homePhone}}
              </div>
            </div>

            <div class="row">
              <div class="col">
                Cell Phone:
              </div>
              <div class="col">
                {{contact.cellPhone}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--- End Roommates List -->
  </div>
