  <div class="container-fluid" id="content">
    <h2>Roommates</h2>
    <div class="row">
      <!-- Add Roommate -->
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            Add New Roommates
          </div>
          <div class="card-body">
            <!-- <form> -->
              <!-- <div class="form-group row"> -->
                <!-- <label for="inputRoommateSearch" class="col-sm-4 col-form-label"></label> -->
                <div class="input-group">
                  <!-- Add roommate input field -->
                  <input placeholder="Name, username, or email" type="text" name="roommateSearch" [(ngModel)] = "roommateSearch" class="form-control">

                  <!-- Add roommate results -->
                  <div class="input-group-append">
                    <button class="btn btn-outline-success dropdown-toggle" (click)="onSubmitButton()" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Find Users</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" *ngFor="let roomie of hack(roommateSearchList)" (click)="addRoommate(roomie)"><b>{{roomie.name}}</b> <small>@{{roomie.username}}</small></a>
                      <!-- Cannot find user option -->
                      <div role="separator" class="dropdown-divider"></div>
                      <a class="dropdown-item" (click)="showStaticRoommateForm()">Can't find user? Click here.</a>
                    </div>
                  </div>

                  &nbsp;
                  <button class="btn btn-dark" (click)="clear()">Clear</button>

                </div>

                <div role="separator" class="dropdown-divider"></div>

                <!-- Static roommate add form -->
                <div *ngIf="staticRoommateForm">
                  <div class="form-group">
                    <label for="staticRoommateName">Name</label>
                    <input type="text" class="form-control" id="staticRoommateName" name="staticRoommateName" [(ngModel)]="staticRoommateName" placeholder="Rumi">
                  </div>
                  <div class="form-group">
                    <label for="staticRoommateEmail">Email address</label>
                    <input type="email" class="form-control" id="staticRoommateEmail" name="staticRoommateEmail" [(ngModel)]="staticRoommateEmail" aria-describedby="emailHelp" placeholder="hello@rumi.com">
                  </div>

                  <button class="btn btn-primary" (click)="addStaticRoommate()">Add roommate</button>
                </div>
              <!-- </div> -->

              <!-- <div class="form-group row">
                <label for="inputLastName" class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                  <input placeholder="Last Name" type="text" name="lastName" [(ngModel)] = "lastName" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputLastName" class="col-sm-4 col-form-label">Preferred Name</label>
                <div class="col-sm-8">
                  <input placeholder="Preferred Name" type="text" name="preferredName" [(ngModel)] = "preferredName" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputLastName" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                  <input placeholder="Address" type="text" name="address" [(ngModel)] = "address" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputLastName" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input placeholder="Email" type="text" name="email" [(ngModel)] = "email" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputLastName" class="col-sm-4 col-form-label">Home Phone</label>
                <div class="col-sm-8">
                  <input placeholder="Home Phone" type="text" name="homePhone" [(ngModel)] = "homePhone" class="form-control">
                </div>
              </div>

              <div class="form-group row">
                <label for="inputLastName" class="col-sm-4 col-form-label">Cell Phone</label>
                <div class="col-sm-8">
                  <input placeholder="Cell Phone" type="text" name="cellPhone" [(ngModel)] = "cellPhone" class="form-control">
                </div>
              </div> -->

            <!-- </form> -->
          </div>
          <!-- End Add Roommate -->

          <!-- Search Roommate -->
          <div class="card-header">
            Search Roommate
          </div>
          <div class="card-body">
            <!--- Search Form -->
              <div class="input-group">
                  <input placeholder="Search Name" type="text" name="inputString" [(ngModel)] = "inputString" class="form-control">

                  &nbsp;
                  <button class="btn btn-dark" (click)="clearSearch()">Clear</button>
                <!-- <div class="col-sm-6">
                  <button class="btn btn-dark" (click)="clearSearch()">Clear</button>
                </div> -->
              </div>
            <!--- End Search Form -->
          </div>
        </div>
      </div>

      <!--- Roommates List -->
      <div class="col-sm-6">
        <div class="list-group" *ngFor="let currRoommate of hack(roommateList) | filter : inputString; let i = index">
          <div class="list-group-item list-group-item-action flex-column align-items-start" id="roommate-list-item">
            <div class="d-flex w-100 justify-content-between">
              <h5 id="roommate-list-header">{{currRoommate.name}}</h5>
              <small class="text-muted"><button class="btn btn-danger btn-sm" (click)="deleteRoommate(currRoommate)">Delete</button></small>
            </div>

            <div class="row">
              <div class="col">
                Email:
              </div>
              <div class="col">
                {{currRoommate.email}}
              </div>
            </div>

            <div class="row" *ngIf="currRoommate.isRegistered">
              <div class="col">
                Username:
              </div>
              <div class="col">
                @{{currRoommate.username}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--- End Roommates List -->
  </div>
